@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --main-color:#FFBF00;
    --white-color: #fff;
    --disabled-color: #fff3;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--white-color);
}

p{
    margin-top: .8rem;
    font-size: 1.3rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-size: 700;
}

nav a {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.5s ease;
}

nav a.active,
nav a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 4rem;
    display: none;
}

section{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background: var(--bg-color);
}

.section-heading{
    margin-bottom: 5rem;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

.home{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}

.home-detail h2 span{
        position: relative;
        display: inline-block;
        color: transparent;
        -webkit-text-stroke: .07rem var(--main-color);
        animation: display-text 12s linear infinite;
        animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{

    25%,
    100%{
        display: none;
    }
}

.home-detail h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

.home-detail p {
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    margin: 1rem 0rem;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 0.8rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s ease;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-detail .btn-sci{
    display: flex;
}

.home-detail .btn-sci .sci{
    margin-left: 2rem;
    margin-top: 1.2rem;
}

.home-detail .btn-sci .sci a {
    display: inline-flex;
    padding: 0.8rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 0.8rem;
    transition: .5s ease;
}

.home-detail .btn-sci .sci a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
} 

.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after{
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: 0.01rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

/* services style..... */

.services{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

.service-div{
    width: 90%;
    background: var(--second-bg-color);
    border-radius: 5px;
    padding: 2rem;
    transition: .3s ease-in;
    border: 1px solid var(--second-bg-color);
}

.service-div:hover .service-icons-div .service-icon,
.service-div:hover h1{
    color: var(--main-color);
}

.service-div:hover{
    border: 1px solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
}

.service-div:hover .arrow-div {
    transform: rotate(50deg);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}


.service-icon{
    font-size: 4rem;
}

.service-icons-div{
    display: flex;
    justify-content: space-between;
}

.arrow-div{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: 0.5s ease;
}

.arrow-div a{
    margin-top: 5px;
    color: #1f242d;
    font-size: 2.5rem;
    transition: 5s ease;
}

.education-div{
    display: flex;
    justify-content: space-between;
}

.track-heading{
    font-size: 2.5rem;
    color: var(--main-color);
}

.education-track{
    width: 100%;
}

.education-item{
    display: flex;
    gap: 1rem;
}

.education-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.experience-div{
    display: flex;
    gap: 2rem;
}

.experience-item{
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--second-bg-color);
}

.experience-heading{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--main-color);
}

.skills-heading{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--main-color);
}

.skill-hub{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 15%;
    background: var(--second-bg-color);
    padding: 2rem;
}

.skill-icon{
    font-size: 8rem;
}

.skill-div{
    display: flex;
    gap: 2rem;
}

.icon-div{
    margin-top: 1rem;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 4rem;
    border-radius: 5px;
}

/* contact section... */

.contact-icon{
    font-size: 2rem;
    color: var(--main-color);
}

.contact-detail-div{
    display: flex;
    gap: 1rem;
}

.contact-details{
    width: 50%;
}

.contact-me{
    width: 50%;
}

.contact-main-div{
    display: flex;
}